<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title> Registrarme | Ortega</title>
      {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'ortega/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'ortega/css/bootstrap.css' %}" >
  

    <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="{% static 'ortega/css/login.css' %}" >

   
  </head>

  <body>

    <div class="container">

     <div class="row">
<div class=" col-md-12 text-center">
                    
                    <hr>
 <div class="col-md-push-3 col-md-6 text-center">
                    <form action="." method="POST">
                      <center><strong><h4>Registrate <a href="#">!Asesoria Ortega (-_-)</a> </strong></h4></center>
                        <p class="text-center">Registrate, y resulve tus problemas con asesoria profesional:</p>
                         {% csrf_token %}
                         {{form.as_p}}
                      
                        <button type="submit" class="btn btn-success btn-lg btn-block">Registrate</button>
                        <br>
                        <hr>
                        <center><strong><h6>Tambien te puedes Registrar por redes sociales <a href="{% url 'link:inicio'%}">!inicio</a> </strong></h6></center>

                        <p>
                        <a href="#" class="btn btn-primary btn-lg btn-block">Regitrate con Facebook</a>
                        <a href="#" class="btn btn-danger btn-lg btn-block">Regitrate con Google+</a>
                    </p>
                    
                    </form>
                </div><!-- col-md-6 -->
            </div>

    </div> <!-- /container -->
       <hr/>
       

  </body>
</html>
